
Freedom/Library
Freedom/Temp
*.db
*.lock
*.ide
*.ide-shm
*.opendb
*.ide-wal
Freedom/.vs/Freedom/v15/.suo
Freedom/.vsconfig
*.csproj
Freedom/Assets/Resources/BillingMode.json
Freedom/Assets/Resources/BillingMode.json.meta
*.sln
Freedom/Freedom.sln
*.log
*.CopyComplete
*.cache
Freedom/obj/Debug/Assembly-CSharp.csproj.FileListAbsolute.txt
Freedom/obj/Debug/Assembly-CSharp.dll
Freedom/obj/Debug/Assembly-CSharp.pdb
Freedom/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Freedom/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Freedom/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Freedom/Packages/manifest.json
Freedom/Packages/packages-lock.json
